body{
    width: 80%;
    margin: 10px auto;
    font-family: cursive;
}

#contenu{
    background-color: red; /* Le style est surchargé (écrasé) plus bas*/
    border: 2px solid black;
}

header, footer{
    height: 88px;
    background-color: #8e3557;
    color: #fff; /* #fff = #fffff = whhite */
    text-align: center;
    padding-top: 6px;
}

Nav{
    height: 40px;
    background-color: #4a1a2c;
    color: #fff;
    padding-left: 20px;
    padding-top: 6px;
}

section{
    border: 20px solid #787746;
    background-color: #e6e2af;
    height: 500px;
    text-align: center;
}

p{
    margin: 0   ;
}